 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Research</h2>
      <i class="fa fa-superscript" aria-hidden="true"></i>
      <i class="fa fa-question" aria-hidden="true"></i>
      <i class="fa fa-connectdevelop" aria-hidden="true"></i>
      <!-- <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i> -->
      <p>Everything from structured interviews and survey design to data engineering and linear algebra in one awesome person.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="fa fa-terminal" aria-hidden="true"></i>
      <i class="fa fa-code-fork" aria-hidden="true"></i>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <!-- <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i> -->
      <p>Python, SQL, Bash.  Programming is a means to an end, but the end crashes in quickly without the needed knowledge.</p>
    </div>
    <div class="tech">
      <h2>Present</h2>
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-line-chart" aria-hidden="true"></i>
      <i class="fa fa-slideshare" aria-hidden="true"></i>
      <!-- <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <p>The rest is useless if no one understands; creating quality presentations and visualizations drives research impact.</p>
    </div>
</div>
